/* woekwewe */
textarea { resize: none; border: 1px Solid;}
h1 { display: inline; margin: 0; padding: 0;}
.container { width: 50%; margin: auto; }
.post { background: white; }
.nav { padding-left: 0px !important; padding:5px; }
